name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14'

    - name: Install dependencies
      run: npm install

    - name: Run unit tests
      run: npm run unit-test

    - name: Run integration tests
      run: npm run integration-test

    - name: Build Docker image
      run: |
        docker build -t <dockerhub-username>/node_calculator:latest .
        echo ${{ secrets.samreen23523 }} | docker login -u ${{ secrets.tayyaba23 }} --password-stdin
        docker push <dockerhub-username>/node_calculator:latest
